:root {
    --bg-color:#2a2a2a;
    --primary-color: black;
    --secundary-color:#09161f;
}

/* ( * )selector universal --> Se aplica a todos los elementos de mi archivo */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Selector de etiqueta --> todos los h2 van a tener esas caracteristicas */
h1 {
  color: white;
  font-size: 4vw;
}


h2 {
  color:white;
  font-size:3vw;
  padding: 10px;
}

header {
  background-color: var(--bg-color);
  position: fixed;
  top:30px;
  left: 0px;
  width: 100%;
  z-index:100;
}

nav {
  display:flex;
  /* Eje principal - ejeX*/
  justify-content:space-between;
  /* Eje secundario - ejeY*/
  align-items: center;
  padding: 0px 50px;
  height: 60px;
}

.nav-links {
  display:flex;
  list-style:none;
  gap:30px;
}


/* Conflicto */
#banner {
    background-image: url(../img/banner.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.container{
  max-width: 900px;
  padding: 160px 10px;
  
  margin: auto;
  text-align: center;
  
}

/* Selector de ID */
#search {
    background-color: var(--primary-color);
}

#popular, #top-rated, #search {
  text-align: center;
}

.movie-item-img {
  width: 100px;
}

.cortes-grid {
  display: flex;
  flex-wrap: wrap;
}
.cortes-grid {
  
  background-color: var(--secundary-color);

  display: grid; 
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2,250px);

  /* ITEMS */
  place-content: center;
  place-items: center;
}

#cortes1 #cortes2 #cortes4 #cortes4 #cortes5 #cortes6 #cortes7 #cortes8 {

  place-self: center;
  width: 100%;

  grid-column: 2/4;
}
footer{
  text-align: center;
  color: white;
  background-image: url(../img/bg.jpg);
  padding: 5px;
}
